h3{
    font-size:27px !important;
}
canvas{
    animation-name:canvas;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
@keyframes canvas{
    from{box-shadow: 1px 1px 40px red;}
    to{box-shadow: 1px 1px 40px yellow;}
}
